<%- include('./adminHomeHeader') %>
    <div class="container mt-5">
        <h1 class="text-center">Welcome <%= email %> to the Admin Dashboard</h1>
        <p class="text-center">Manage your food ordering system efficiently.</p>
    </div>
